.head {
    width: 100%;
    background-color: rgb(126, 127, 154);
    position: fixed; 
    top: 0;
    display: flex;
    justify-content: center;

}

.menu {
    height: 50px;
    min-width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    column-gap: 20px;
}

.prod {
    width: 250px;
    display: flex;
    justify-content: space-evenly;

}

.head a:hover {
    color: #fff;
  }



@media (max-width: 680px) {
    .menu {
        min-width: 340px;
    }
}